@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
/* SHARED STYLE START END */


/* SHARED STYLE START */
#hero-section{
    max-width: 133%;
    height:715px;
    border: 3px solid red;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 57px 190px 0px 190px;
    
}
nav ul{
    display: flex;
    gap:47px;
    list-style: none;
}
.list-items-links{
    text-decoration: none;
}
