@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

/* SHARED STYLE START START */
.color-red-text {
    color: rgb(230, 83, 60);
}

.color-red-bg {
    background: rgb(230, 83, 60);
}

.banner-content-sizing {
    width: 520px;
    height: 48px;
}

/* SHARED STYLE END */
#hero-section {
    max-width: 133%;
    height: 715px;
    border: 3px solid red;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 57px 190px 0px 190px;

}

nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 47px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.list-items-links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin: 10px auto;
    padding: 0px 20px 0px 20px;

}

nav h1 {
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
}

nav ul span {
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    font-weight: 600;
    margin: 4px;
}

#hero-section {
    background: linear-gradient(180deg,
            rgb(17, 17, 17),
            rgba(119, 119, 119, 0) 100%),
        linear-gradient(360deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.596) 100%);
    ;
}

/* BANNER SECTION DESING START*/
.banner {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    gap: 8px;
    align-items: center;
    text-align: start;

}

.banner-content {
    border: 2px solid red;
    margin-top: 97px;
    margin-right: 190px;
    margin-left: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.banner-content h1 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 30px;

}

.banner-image {
    border: 2px solid red;
    margin-right: 20%;
    margin-top: 30px;
    width: 349px;
    height: 580px;
    left: 877px;
    top: 135px;

}

.banner-image img {
    position: absolute;
}

#badge1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    position: absolute;
    width: 193px;
    height: 98px;
    left: 1107px;
    top: 260px;
    text-align: center;
    margin-top: 300px;
    
}

#badge2 {}

/* BANNER SECTION DESING START END */