@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;

}

/* main>section {
    margin-bottom: 90px;

} */

/* SHARED STYLE START START */
.color-red-text {
    color: rgb(230, 83, 60);
}

.color-red-bg {
    background: rgb(230, 83, 60);
}

.bg-dark{
   background:rgb(0, 0, 0); 
}
.text-white{
    color:rgb(255, 255, 255);
}
.light-text-dark{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 28px auto;
}
.banner-content-sizing {
    width: 520px;
    height: 48px;
}

.banner-button-red {
    position: static;
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
}

/* SHARED STYLE END */
#hero-section {
    max-width: 133%;
    height: auto;
    border: 3px solid red;
    background: linear-gradient(180deg,
            rgb(17, 17, 17),
            rgba(119, 119, 119, 0) 100%),
        linear-gradient(360deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.596) 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 57px 190px 0px 190px;

}

nav ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 47px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

}

.list-items-links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin: 10px auto;
    padding: 0px 20px 0px 20px;

}

nav h1 {
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
}

nav ul span {
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    font-weight: 600;
    margin: 4px;
}

#humbarger {
    margin: 0 40px;
    font-size: 1.75rem;
    color: white;
    display: none;

}

/* BANNER SECTION DESING START*/
.banner {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    gap: 8px;
    align-items: center;
    text-align: start;

}

.banner-content {
    border: 2px solid red;
    margin-top: 97px;
    margin-right: 190px;
    margin-left: 190px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.banner-content h1 {
    color: rgb(255, 255, 255);
    font-size: 4.88rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;

}

.banner-content p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin: 28px auto;
}


.banner-image {
    border: 2px solid red;
    margin-right: 200px;
    margin-top: 30px;
    width: 349px;
    height: 580px;
    left: 877px;
    top: 135px;


}

.banner-image img {
    position: absolute;
    width: auto;
}

#banner-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#badge1 {
    display: flex;
    gap: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    position: -webkit-sticky;
    width: 193px;
    height: 98px;
    margin-top: 414px;
    margin-left: -100px;
}

.ellipse {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);

}


#badge2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    position: -webkit-sticky;
    width: 193px;
    height: 98px;
    top: 260px;
    text-align: center;
    margin-top: -390px;
    margin-left: 215px;

}

.badge2-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;
}

/* BLOCK-1-DESIGN END */
#block-1{
    margin: 100px 200px;
}
.model{
   display: flex;
   flex-direction: row;
   gap: 40px;
   justify-content: center;
}
.model-image img{
width: 272px;
height: 180px;
border-radius:50%;
width: 100%;
}
.model-content{
width: 231px;
height: 64px;
}
.model-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 58px;
}
.block-1-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:14px;
}

.block-1-content h1{
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;

}
.block-1-content p{
width: 671px;
height: 120px;
}

/* BLOCK-1-DESIGN START END */


/* BANNER SECTION DESING START END */

/* RESPONSIVE DESING START */

/* MOBILE RESPONSIVE START */
@media screen and (max-width:576px) {
    /* main>section{
        margin-left: 20px;
        margin-right: 20px;
       
    } */
    /* HERO SECTION START */

    header ul {
        display: none;
    }

    nav {
        display: flex;
        justify-content:space-between;
        margin: 10px;
    }

    #humbarger {
        display: block;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
    }

    .banner-image {
        margin: 10px;
    }

    .banner-content h1 {
        font-size: 3.88rem;
    }

    .banner-content p {
        font-size: 1rem;
        margin: 5px;
    }

    .banner-button-red {

        width: 169px;
        height: 54px;
        padding: 2px 15px;
        font-size: 0.9 rem;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        border: none;
        border-radius: 42px;
        background: rgb(230, 83, 60);
    }

    .image-contaier {
        border: 2px solid red;
        margin: 10px;
        align-items: center;
    }

    #badge1 {
        width: 155px;
        height: 97px;
        margin-top: 231px;
        margin-left: 12px;
    }

    #badge2 {
        width: 145px;
        height: 97px;
        margin-top: -266px;
        margin-left: 213px;

    }
}

/* MOBILE RESPONSIVE END */
/* RESPONSIVE DESING END */